/* Basic styles */
body {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
  font-family: UbuntuLight;
  font-size: 16px;
  color: #444;
  background-color: #f3f3f3;
}

h1 {
  font-size: 24px;
  margin: 4px 0 4px;
}

h2 {
  font-size: 20px;
  margin: 4px 0 4px;
  color: #555;
}

h3 {
  margin: 8px 0;
}

hr {
  background-color: #ddd;
  height: 1px;
  border: 0;
}

/* Fonts */
@font-face {
  font-family: UbuntuRegular;
  src: url("./fonts/Ubuntu-R.ttf");
}
@font-face {
  font-family: UbuntuLight;
  src: url("./fonts/Ubuntu-L.ttf");
}

/* Personal (header) */

#personal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.my-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

/* Games list */

#games {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.game {
  display: block;
  margin-bottom: 20px;
}

.game-screenshot {
  width: 512px;
  height: 288px;
  background-color: #ddd;
}

@media screen and (min-width: 1080px) {
  body {
    max-width: 1224px;
  }

  #games {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 640px) {
  .game {
    max-width: 256px;
  }
  .game-screenshot {
    width: 256px;
    height: 144px;
  }
}

/* Game page */

#game-details {
  max-width: 720px;
  margin: 0 auto;
}

h3.details-title {
  text-align: center;
  margin: 40px 0 40px;
}

.google-play-badge {
  width: 240px;
  height: auto;
}