/* General stuff */

html, body
  margin 0
  padding 0
  font-family UbuntuRegular
  color #fff

h1
  text-align center
  font-size 36px

h2
  font-family UbuntuLight
  text-align center
  font-size 30px
  &.no-margin
    margin 0
    padding 40px
  
h3
  font-size 22px

a, a:link, a:visited, a:hover, a:active
  color #90cfd5
  text-decoration none
  
p
  font-family UbuntuLight
  font-size 18px

/* Sections */

section
  margin 0
  padding 0

/* Intro Section */

section#intro
  padding-top 80px
  background-color #ff891e
  @media all and (max-width: 420px)
    padding-top 44px

h3.center
  text-align center
  margin 8px

img.profile-pic
  display block
  width 260px
  height 260px
  border-radius 50%
  margin 0 auto 0 auto
  @media all and (max-width: 420px)
    width 200px
    height 200px

div.links-container
  display block
  height 100px
  width 300px
  margin 40px auto 0 auto
  padding-bottom 20px
  @media all and (max-width: 420px)
    width 280px

div.link-placeholder
  float left
  width 80px
  height 80px
  margin-right 30px
  border-radius 50%
  background-color #90cfd5
  @media all and (max-width: 420px)
    margin-right 20px

  &.last
    margin-right 0px

/* Project Section */

section#projects
  color #fff
  background-color #19a0a0
  padding 0 80px 20px 80px
  @media all and (max-width: 420px)
    padding-left 20px
    padding-right 20px

div.project-container
  max-width 800px
  min-height 180px
  margin 40px auto 60px auto

div.project-description-container
  @media all and (max-width: 640px)
    text-align center
  &.left
    padding-left 200px
    @media all and (max-width: 640px)
      padding-left 0
  &.right
    padding-right 200px
    @media all and (max-width: 640px)
      padding-right 0

img.project-image
  width 150px
  height 150px
  border-radius 12px
  
  @media all and (max-width: 640px)
    display block
    margin-left auto
    margin-right auto

  &.left
    float left
    @media all and (max-width: 640px)
      float none

  &.right
    float right
    @media all and (max-width: 640px)
      float none

/* Experience */

section#experience
  background-color #068080
  padding 0 80px 20px 80px
  @media all and (max-width: 420px)
    padding-left 20px
    padding-right 20px

  li
    margin-top 20px
    font-family UbuntuLight
    font-size 18px

div.experience-container
  margin 40px auto 40px auto
  max-width 800px

/* Footer */
footer
  height 80px
  line-height 80px
  text-align center
  background-color #033030
  
  p
    margin 0
    

/* Fonts */

@font-face {
  font-family: UbuntuRegular
  src: url('./fonts/Ubuntu-R.ttf')
}

@font-face {
  font-family: UbuntuLight
  src: url('./fonts/Ubuntu-L.ttf')
}